body {
    background: greenyellow;
}

div {
    background: red;
}

h1 {
    background: aqua;
}

header {
    background: yellow;
}

footer {
    background: gold;
}

.button {
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background: gray;
}